<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.CategoryMapper">
    <!-- =============================================================== -->
    <select id="findAll" resultType="com.example.demo.entity.Category">
        SELECT
          id,
          NAME,
          sort_order AS sortOrder
        FROM
          categories
        ORDER BY
          CASE
            WHEN sort_order IS NULL THEN 1
            ELSE 0
          END ASC,
          sort_order ASC,
          id ASC
    </select>
    <!-- =============================================================== -->
    <insert id="addCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO categories (name, sort_order)
        VALUES
          (#{name}, #{sortOrder})
    </insert>
    <!-- =============================================================== -->
    <update id="updateCategory" parameterType="com.example.demo.entity.Category">
        UPDATE categories
        SET
          name = #{name},
          sort_order = #{sortOrder}
        WHERE
          id = #{id}
    </update>
    <!-- =============================================================== -->
    <select id="findById" parameterType="java.lang.Integer" resultType="com.example.demo.entity.Category">
        SELECT
          id,
          name,
          sort_order AS sortOrder
        FROM
          categories
        WHERE
          id = #{id}
    </select>
    <!-- =============================================================== -->
    <delete id="deleteTodosByCategoryId" parameterType="java.lang.Integer">
        DELETE FROM todos
        WHERE
          category_id = #{categoryId}
    </delete>
    <delete id="deleteCategory" parameterType="java.lang.Integer">
        DELETE FROM categories
        WHERE
          id = #{id}
    </delete>
    <!-- ====================================================================== -->
</mapper>